<div class="homepage-container">
    <app-header></app-header>
    <app-logout-button></app-logout-button>

    <div class="container-scroller dashPage">
        <div class="page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="seldawrapp">
                        <div class="seldash">
                            <div class="topfdiv">
                                <div class="selbox">
                                    <button class="card-btn" 
                                    [class.selected]="selectedCards().includes('NAS UAE')"
                                    (click)="onButtonClick('NAS UAE')">
                                    <img src="assets/images/nas-uae.svg" alt="NAS UAE">
                                </button>
                                </div>
                                <div class="selbox">
                                    <button class="card-btn" 
                                        [class.selected]="selectedCards().includes('Neuron')"
                                        (click)="onButtonClick('Neuron')">
                                        <img src="assets/images/neuron.svg" alt="Neuron">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="divouter">
                            <div class="divcheckboxgroup">
                                <div class="divcheckbox" *ngFor="let feature of featureList">
                                    <input type="checkbox" (change)="onCheckboxChange($event, feature)">
                                    <h4>{{ getFeatureLabel(feature) }}</h4>
                                </div>
                            </div>

                            <button class="next-btn" [disabled]="!isNextEnabled()" (click)="onNextClick()">{{ uiText.BUTTON.NEXT }}</button>

                            <p *ngIf="showError()" class="error-msg">{{ uiText.LABELS.SELECTED_CARDS_ERROR }}</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    <app-footer></app-footer>
</div>