<div class="pbm-container">

    <app-logout-button class="logout-btn"></app-logout-button>

    <button class="back-btn" (click)="goBack()">{{ uiText.BUTTON.BACK }}</button>

    <!-- Selected Cards & Features Section (Appears Once) -->
    <div class="info-box" *ngIf="selectedCards().length > 0 || selectedCheckboxes().length > 0">
        <div class="selected-info">
            <h3>{{ uiText.HEADINGS.SELECTED_CARDS }}</h3>
            <div *ngFor="let card of selectedCards()">
                <img [src]="getCardImageFn(card)" [alt]="card">
                <span>{{ card }}</span>
            </div>
        </div>

        <div class="selected-checkboxes">
            <h3>{{ uiText.HEADINGS.SELECTED_FEATURES }}</h3>
            <span *ngFor="let feature of selectedCheckboxes()">{{ feature }}</span>
        </div>
    </div>

    <!-- Loader -->
    <div *ngIf="loading()" class="loader-container">
        <div class="loader"></div>
        <p>{{ uiText.HEADINGS.LOADING_MESSAGE }}</p>
    </div>

    <!-- Tables Section -->
    <ng-container *ngIf="!loading()">
        <div class="table-container" *ngFor="let tableData of tableList">
            <div class="table-box">
                <h3>{{ tableData.title }}</h3>
                <table mat-table [dataSource]="tableData.dataSource" matSort>

                    <ng-container *ngFor="let column of tableData.columns" [matColumnDef]="column">
                        <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
                        <td mat-cell *matCellDef="let row" [ngStyle]="{'text-align': column === 'COUNT' ? 'right' : 'left'}">
                            {{ getCellValue(row, column) }}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="tableData.columns"></tr>
                    <tr mat-row *matRowDef="let row; columns: tableData.columns;"></tr>
                </table>

                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </ng-container>
</div>
